# ðŸ“Š Chart Cheat Sheet (Python Edition)
A quick-reference guide to help you choose the right type of chart depending on the story you want to tell â€” with real Python code using `matplotlib`, `seaborn`, and `pandas`.

ðŸ“¦ Make sure to install required packages:
```bash
pip install matplotlib seaborn pandas numpy
```

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

## ðŸ“Š Bar Chart â€” Comparison

In [ ]:
def bar_chart():
    categories = ['A', 'B', 'C']
    values = [23, 45, 56]
    plt.bar(categories, values, color='skyblue')
    plt.title('Bar Chart Example')
    plt.xlabel('Category')
    plt.ylabel('Value')
    plt.show()

bar_chart()

## ðŸ“ˆ Histogram â€” Distribution

In [ ]:
def histogram():
    data = np.random.normal(0, 1, 1000)
    plt.hist(data, bins=30, color='salmon')
    plt.title('Histogram Example')
    plt.xlabel('Value')
    plt.ylabel('Frequency')
    plt.show()

histogram()

## ðŸ¥§ Pie Chart â€” Composition

In [ ]:
def pie_chart():
    labels = ['Product A', 'Product B', 'Product C']
    sizes = [40, 35, 25]
    plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=90)
    plt.title('Pie Chart Example')
    plt.axis('equal')
    plt.show()

pie_chart()

## ðŸ”„ Scatter Plot â€” Relationship

In [ ]:
def scatter_plot():
    x = np.random.rand(50)
    y = 2 * x + np.random.normal(0, 0.1, 50)
    plt.scatter(x, y, color='lime')
    plt.title('Scatter Plot Example')
    plt.xlabel('X')
    plt.ylabel('Y')
    plt.show()

scatter_plot()

## ðŸ•’ Line Chart â€” Change Over Time

In [ ]:
def line_chart():
    time = np.arange(1, 11)
    value = np.random.randint(10, 100, size=10)
    plt.plot(time, value, marker='o')
    plt.title('Line Chart Example')
    plt.xlabel('Time')
    plt.ylabel('Value')
    plt.grid(True)
    plt.show()

line_chart()

## ðŸ“‹ Table â€” Category Depth

In [ ]:
def table_display():
    data = {'Region': ['North', 'South', 'East'], 'Sales': [200, 150, 180]}
    df = pd.DataFrame(data)
    display(df)

table_display()